<div class="jumbotron">
  <div class="center">
  <h1>Welcome to MyRecipes App</h1>
  <h2>This is the home for all food lovers who want to share their recipes!</h1>
  
  <%= link_to "Sign Up now!", "", class:"btn btn-lg btn-success" %>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest
    </h3>
    <h2 class="row-item">
      Browse and View Receipes as a Guest and Sign Up later
    </h2>
    <p><%= link_to "Browse Recipe Listings", "", class:"btn btn-warning btn-small" %></p>
  </div>
   
    <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest
    </h3>
    <h2 class="row-item">
      Browse and View Receipes as a Guest and Sign Up later
    </h2>
    <p><%= link_to "Browse Recipe Listings", "", class:"btn btn-warning btn-small" %></p>
  </div>

  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest
    </h3>
    <h2 class="row-item">
      Browse and View Receipes as a Guest and Sign Up later
    </h2>
    <p><%= link_to "Browse Recipe Listings", "", class:"btn btn-warning btn-small" %></p>
  </div>

</div>

